*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h1{
    color: #0069B4;
    font-weight: 900;
    font-size: 35px;
    padding-top: 1em;
}

footer a{
    color: #0069B4;
}

a{
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff; 
    font-size: 24px;
}

body{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    text-align: center;
    padding: 0 15px;
}

main div{
    background-color: #0069B4 ;
    border-radius: 30px;
    padding: 30px;
    margin: 2em 0;
    height: 100px;
}

footer a{
    cursor: pointer;
    text-decoration: underline;
}

footer section i{
    background-color: #FF4655;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding-top: 10px;
    color: #ffffff;
    margin: 2em 7px;
}
